<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
    <test name="Test">
        <!-- Set the browser name: firefox, chrome, ie -->
        <classes>
            <class name="okryukova.tets.CommunalPaymentsTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->